.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
}

.navlist {
  display: flex;
}

.navlist ul {
  list-style-type: none;
  display: flex;
}

.navlist ul li {
  font-size: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.res-card {
  padding: 10px;
  width: 200px;
}

.res-card:hover {
  border: 1px solid black;
}

.res-img {
  width: 100%;
  height: 150px;
}

.filter-btn {
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
}

.shimmer-card {
  padding: 10px;
  width: 200px;
  background-color: #f0f0f0;
  height: 300px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  padding: 10px;
}
